/*
    Tabella
*/
.col{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: inline-block;
}

.row{
    margin: 0;
    padding: 0;
    height: 27px;
}

/*
    Bottoni
*/

button {
    margin: 0;
    background-color: #bfbfbf; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#bottoni{
    text-align: center;
}

/*
    Punteggio
*/

score{
    text-transform: uppercase;
    font-weight: bold;
}

/*
    Messaggio fine gioco
*/

#message{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.msg{
    margin-bottom: 25px;
}

.win{
    background-color: green;
}

.over{
    background-color: red;
}

#message h2{
    margin-top: 45px;
}