<style>
  table, th, td {
    border: 1px solid black;
    text-align: center;
  }

  table {
    width: 100%;
  }
</style>

<!-- messaggio di gameover / vittoria -->
<div *ngIf="stopGame" id="message">
    <h2>{{message}}</h2>
    <div id="score" class="msg">Score:  {{score}}</div>
    <button type="button" onClick="window.location.reload()">NEW GAME</button>
</div>

<div id="score">Score:  {{score}}</div>
<div class="row" *ngFor="let col of matrix">
  <div class="col" *ngFor="let row of col" [style.background-color]="color(row)">
   <!--{{row}} -->
  </div>
</div>
<div id="bottoni">
  <button type="button" (click)="move('up')">UP</button><br>
  <button type="button" (click)="move('left')">LEFT</button>
  <button type="button" (click)="move('right')">RIGHT</button><br>
  <button type="button" (click)="move('down')">DOWN</button>
</div>
