/*
    Centro orizzontalmente il gioco
*/

.centrato{
    width:270px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

/*
    Definisco stile globale del componente
*/

:host{
    font-family: "Arial";
}